.root {
  height: calc(100vh - 45px);
  position: relative;
}

.root ul {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 150px;
  position: absolute;
  padding-left: 0;
}

.root ul li {
  text-align: center;
  list-style: none;
  line-height: 30px;
  font-size: 18px;
}

.root ul li a {
  text-decoration: none;
  color: rgb(60, 60, 60);
}

.root ul li a:hover {
  color: black;
}