.root {
  height: calc(100vh - 45px);
  position: relative;
}

.root div {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 50vh;
  max-width: 60vw;
  position: absolute;
  line-height: 30px;
}

.root > div > input, textarea, button {
  width: 100%;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
}

.root > div > input:focus, textarea:focus {
  outline-color: rgba(0, 0, 0, 0.6);
  font-family: 'Open Sans', sans-serif;
}

@media(max-width: 1100px) {
  .root div {
    max-width: 90vw;
    max-height: 60vh;
  }
}

