.list li {
  display: inline-block;
  color: rgb(60, 60, 60);
  text-align: center;
  min-height: 30px;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  width: calc(100vw / 6.5);
  overflow: visible;
  position: relative;
  user-select: none;
  transition: min-height 500ms ease;
}

li.open {
  min-height: 100px;
}

.list li:hover {
  cursor: pointer;
}

.list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  min-height: 40px;
  z-index: 5;
}

.list .title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.menuButton {
  display: none;
}

.menuIcon {
  margin: 10px;
  height: 20px;
  width: 20px;
  font-size: 20px;
}

.dropdown {
  position: absolute;
  width: 100%;
}

.dropdown p {
  font-size: 14px;
}

.dropdown.open {
  display: block;
}

@media(max-width: 1100px) {
  .list li {
    width: 70vw;
  }
  .list.open li {
    display: inline-block;
    color: rgb(212, 212, 212);
  }
  .list .title {
    width: 100vw;
    display: inline-block;
  }
  .list.open .title {}
  .list {
    max-height: 30px;
    transition: max-height 300ms ease, background-color 300ms ease, color 300ms ease;
  }
  .list.open {
    max-height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .menuButton {
    color: rgb(102, 102, 102);
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
  }
  .menuButton.open {
    color: rgb(212, 212, 212);
  }
}