.image {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: block;
  visibility: visible;
  margin: auto;
}

.gallery {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: block;
  z-index: -2;
}

.root {
  width: 100%;
  height: calc(100vh - 45px);
  margin-top: 45px;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  right: 10vw;
  left: -100vw;
  display: none;
  transition: all 0.7s ease;
  position: absolute;
  vertical-align: middle;
}

.container.current {
  left: 0;
  right: 0;
  display: block;
}

.container.prev {
  display: block;
  left: -100vw;
  right: 100vw;
}

.container.next {
  display: block;
  left: 100vw;
  right: -100vw;
}

.container.next img,
.container.current img,
.container.prev img {
  visibility: visible;
}

.button {
  height: 100%;
  width: 40%;
  position: absolute;
  top: 0;
  display: inline-block;
  cursor: pointer;
  z-index: 2;
  color: rgb(102, 102, 102);
}

.button.right {
  right: 0;
}

.button.left {
  left: 0;
}

.buttonIcon {
  height: 100%;
  margin: auto;
  z-index: 1;
  margin-top: calc(50vh - 45px);
  font-size: 30px;
}

.buttonIcon.right {
  float: right;
  margin-right: 10px;
}

.buttonIcon.left {
  float: left;
  margin-left: 10px;
}