@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  padding: 0;
  background: #d8d8d8;
  font-family: 'Open Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}